# If you are set up inside a folder use RewriteEngine and RewriteBase, else comment them out
RewriteEngine On
RewriteBase /ajax-php-function/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
