<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple tests</title>
</head>
<body>

	<h4>Simple tests</h4>

	<p>Requests data from backend - Outputs it to an element.</p>
	<button 
		onclick="ajaxPhpFn({
			uri: '/ajax-php-function/Hello/world/1234', 
			sendToId: 'ex1'})" 
		type="button">
			Just a button
	</button>
	<div id="ex1"></div>

	<hr>
  
	<p>Sends object data to the backend - Outputs result to an element.</p>
	<button 
		onclick="ajaxPhpFn({
			uri: '/ajax-php-function/Hello/sampleData', 
			sendToId: 'ex2',
			optionalData: {test: 'Some sample data.'}
		})" 
		type="button">
		Just a button
	</button>
	<div id="ex2"></div>

	<hr>

	<p>Sends form data to the backend - Outputs result to an element.</p>
	<form id="form1" onsubmit="ajaxPhpFn({
			uri: '/ajax-php-function/Hello/formData', 
			sendToId: 'ex3',
			formId: 'form1',
			optionalData: {added: 'Some added sample data.'}
		}); return false;">
		<input type="text" name="test" value="asdf">
		<button  type="submit">Submit form</button>
	</form>
	<div id="ex3"></div>

	<hr>

	<script src="appfun.js"></script>
</body>
</html>